<div class="list-group sidebar vh-100">
  <button
    type="button"
    class="list-group-item list-group-item-action active"
    aria-current="true"
  >
    <img
      src="../../assets/images/profile.svg"
      alt=""
      width="35"
      class="bg-white rounded-circle"
    />
    <span> The current button </span>
  </button>
  <button
    type="button"
    class="list-group-item list-group-item-action"
    aria-current="true"
  >
    <img
      src="../../assets/images/profile.svg"
      alt=""
      width="35"
      class="bg-white rounded-circle"
    />
    <span> The current button </span>
  </button>
  <button
    type="button"
    class="list-group-item list-group-item-action"
    aria-current="true"
  >
    <img
      src="../../assets/images/profile.svg"
      alt=""
      width="35"
      class="bg-white rounded-circle"
    />
    <span> The current button </span>
  </button>
  <button
    type="button"
    class="list-group-item list-group-item-action"
    aria-current="true"
  >
    <img
      src="../../assets/images/profile.svg"
      alt=""
      width="35"
      class="bg-white rounded-circle"
    />
    <span> The current button </span>
  </button>
</div>
