<div class="container-fluid">
  <div class="row d-flex justify-content-center">
    <div class="col-12 col-sm-10 p-2">
      <h3 class="p-2 title-header">Acerca de</h3>
      <p class="text-justify">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Recusandae
        cupiditate natus placeat quod modi sint ratione fugit asperiores,
        mollitia eaque illo eius hic numquam expedita est maxime similique
        eveniet quaerat. Dolorum, ipsum dolor commodi optio ratione magnam
        facere temporibus quia, tenetur quibusdam ducimus hic nihil voluptas
        quam eligendi corporis. Saepe sed earum doloremque eveniet tempore amet
        accusantium illum consectetur libero! Quo ullam voluptates ducimus sed
        accusamus ab, quisquam voluptate mollitia voluptatem ad. Dolorem
        similique, vel necessitatibus saepe quo accusantium suscipit, a
        voluptatibus nisi iusto quidem blanditiis! Alias quaerat vitae tempora.
        Reprehenderit praesentium qui suscipit eius? Nisi quod accusamus sunt
        voluptatibus, excepturi ullam fugit accusantium, placeat nam mollitia
        quos commodi asperiores, tempore consequatur quia odit dolor dicta?
        Alias aspernatur dignissimos placeat. Amet, hic a excepturi ipsa cum
        neque aliquid in quidem, iure, architecto est at atque consequatur.
        Veritatis voluptatem reiciendis temporibus doloribus itaque, doloremque,
        necessitatibus provident eius et nobis sed quo.
      </p>
    </div>
  </div>
</div>
