.contact-img {
  backdrop-filter: blur(1em);
}

.tags div:nth-child(2) span {
  background-color: rgb(111, 140, 255);
  color: white !important;
}

span {
  line-height: normal;
}
/* 
.contact-card-info > div {
  border-bottom: 2px solid rgb(215, 215, 215);
} */

.row > div:nth-child(2) {
  border-bottom: 3px solid rgb(227, 227, 227);
}

.contact-card-info > div > div:first-child > span {
  color: rgb(178, 178, 178);
  font-weight: bold;
  text-align: right;
}

span:not(.contact-card-info > div > span, .phone-type) {
  color: rgb(0, 0, 0);
}

.phone-type {
  color: rgb(142, 142, 142);
}

input[type="text"],
input[type="tel"],
input[type="email"] {
  border: none;
}

/* input[type="text"]:focus {
  background-color: rgb(237, 237, 237);
} */
