<div class="container-fluid">
  <div class="row d-flex justify-content-center">
    <!-- <div class="col-12 col-sm-4 col-lg-3 p-0 bg-white vh-100">
      <app-contacts-list></app-contacts-list>
    </div> -->

    <div class="col-12 col-sm-10 col-lg-8 p-2">
      <div class="d-flex rounded-4 flex-column p-2 p-sm-4 bg-white shadow">
        <div class="d-flex align-items-center flex-column flex-lg-row">
          <app-contact-image
            [img]="{ url: contact.contactPhoto, width: 150 }"
          ></app-contact-image>

          <h3 class="text-center p-3">
            {{ contact.contactFirstName }} {{ contact.contactLastName }}
          </h3>
        </div>

        <div class="container-fluid m-auto contact-card-info">
          <div class="row">
            <div
              class="col-4 col-lg-2 p-2 d-flex justify-content-end align-items-start"
            >
              <span class="text-break m-1"> Empresa</span>
            </div>

            <div class="col-8 col-lg-10 d-flex flex-column flex-sm-row p-1">
              <span class="p-1 rounded-3 m-1">
                {{ contact.contactCompany }}</span
              >
            </div>
          </div>
          <div class="row">
            <div
              class="col-4 col-lg-2 p-2 d-flex justify-content-end align-items-start"
            >
              <span class="text-break m-1"> Correos</span>
            </div>

            <div class="col-8 col-lg-10 d-flex flex-column p-1">
              <span
                class="p-1 rounded-3 text-break m-1"
                *ngFor="let email of contact.contactEmails; let i = index"
                >{{ contact.contactEmails[i].emailValue }}</span
              >
            </div>
          </div>

          <div class="row">
            <div
              class="col-4 col-lg-2 p-2 d-flex justify-content-end align-items-start"
            >
              <span class="text-break m-1"> Cumpleaños</span>
            </div>

            <div class="col-8 col-lg-10 d-flex flex-column flex-sm-row p-1">
              <span class="p-1 rounded-3 m-1">{{
                contact.contactBirthday
              }}</span>
            </div>
          </div>

          <div class="row">
            <div
              class="col-4 col-lg-2 p-2 d-flex justify-content-end align-items-start"
            >
              <span class="text-break m-1"> Alias</span>
            </div>
            <div class="col-8 col-lg-10 d-flex flex-column flex-sm-row p-1">
              <span class="p-1 rounded-3 m-1">{{ contact.contactAlias }}</span>
            </div>
          </div>

          <div class="row">
            <div
              class="col-4 col-lg-2 p-2 d-flex justify-content-end align-items-start"
            >
              <span class="text-break m-1"> Notas</span>
            </div>
            <div class="col-8 col-lg-10 d-flex flex-column flex-sm-row p-1">
              <span class="p-1 rounded-3 m-1">{{ contact.contactNotes }}</span>
            </div>
          </div>

          <div class="row tags">
            <div
              class="col-4 col-lg-2 p-2 d-flex justify-content-end align-items-start"
            >
              <span class="text-break m-1"> Etiquetas</span>
            </div>
            <div class="col-8 col-lg-10 d-flex flex-sm-row flex-wrap p-1">
              <span
                *ngFor="let tag of contact.contactTags; let i = index"
                class="p-1 rounded-3 m-1"
                >{{ contact.contactTags[i].tagValue }}</span
              >
            </div>
          </div>

          <div class="row">
            <div
              class="col-4 col-lg-2 p-2 d-flex justify-content-end align-items-start"
            >
              <span class="text-break m-1"> Telefonos</span>
            </div>

            <div class="col-8 col-lg-10 d-flex flex-column p-1">
              <div
                *ngFor="let phone of contact.contactPhones; let i = index"
                class="d-flex flex-column flex-sm-row"
              >
                <span class="p-1"
                  >{{ contact.contactPhones[i].phoneValue }}
                </span>
                <span class="p-1 phone-type">{{
                  contact.contactPhones[i].phoneType
                }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
