<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-sm-4 col-lg-3 p-0 bg-white vh-100">
      <app-sidebar></app-sidebar>
    </div>

    <div class="col-12 col-sm-8 col-lg-9 p-2">
      <h3 class="p-2">Contact info</h3>

      <div
        class="container-fluid d-flex rounded-4 flex-column p-4 bg-white shadow"
      >
        <div class="d-flex align-items-center flex-column flex-lg-row">
          <img
            src="../../../../../assets/images/aquaman.jpg"
            width="150"
            class="rounded-circle p-2"
            alt=""
          />

          <h3 class="text-center p-3">Jhonatan Reyes</h3>
        </div>

        <div class="container-fluid">
          <div class="row d-flex justify-content-start">
            <span class="col-4 col-lg-2">Empresa:</span>
            <span class="col-6 col-sm-8 col-lg-10"> Ninguna</span>
          </div>
          <div class="row d-flex justify-content-start">
            <span class="col-4 col-lg-2"> Correos: </span
            ><span class="col-6 col-sm-8 col-lg-10 text-break"
              >jhonybrandonreyes@gmail.com</span
            >
          </div>

          <div class="row d-flex justify-content-start">
            <span class="col-4 col-lg-2">Cumpleaños: </span>
            <span class="col-6 col-sm-8 col-lg-10">17 de mayo del 2000</span>
          </div>

          <div class="row d-flex justify-content-start">
            <span class="col-4 col-lg-2">Alias: </span>
            <span class="col-6 col-sm-8 col-lg-10">El jhony</span>
          </div>
          <div class="row d-flex justify-content-start">
            <span class="col-4 col-lg-2">Notas: </span
            ><span class="col-6 col-sm-8 col-lg-10">Sin notas</span>
          </div>
          <div class="row d-flex justify-content-start">
            <span class="col-4 col-lg-2">Etiquetas: </span
            ><span class="col-6 col-sm-8 col-lg-10">Sin etiquetas</span>
          </div>
          <div class="row d-flex justify-content-start">
            <span class="col-4 col-lg-2">Telefonos: </span
            ><span class="col-6 col-sm-8 col-lg-10">4434484067</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
