<div class="container-fluid vh-100">
  <div class="row">
    <div class="col-12">
      <h3>Contact info</h3>
    </div>

    <div class="col-12 d-flex justify-content-center p-4">
      <img
        src="../../../../../assets/images/aquaman.jpg"
        width="150"
        class="rounded-4"
        alt=""
      />
    </div>

    <div
      class="col-12 d-flex flex-column justify-content-center align-item-center"
    >
      <div class="row">
        <span class="col-6 text-end">Nombre: </span
        ><span class="col-6">Jhonatan</span>
      </div>

      <div class="row">
        <span class="col-6 text-end">Apellido: </span
        ><span class="col-6">Reyes</span>
      </div>

      <div class="row">
        <span class="col-6 text-end">Empresa: </span
        ><span class="col-6">Ninguna</span>
      </div>

      <div class="row">
        <span class="col-6 text-end">Correos: </span
        ><span class="col-6">jhonybrandonreyes@gmail.com</span>
      </div>

      <div class="row">
        <span class="col-6 text-end">Cumpleaños: </span
        ><span class="col-6">17 de mayo del 2000</span>
      </div>

      <div class="row">
        <span class="col-6 text-end">Alias: </span
        ><span class="col-6">El jhony</span>
      </div>

      <div class="row">
        <span class="col-6 text-end">Notas: </span
        ><span class="col-6">Sin notas</span>
      </div>

      <div class="row">
        <span class="col-6 text-end">Etiquetas: </span
        ><span class="col-6">Sin etiquetas</span>
      </div>

      <div class="row">
        <span class="col-6 text-end">Telefonos: </span
        ><span class="col-6">4434484067</span>
      </div>
    </div>
  </div>
</div>
