<div class="container-fluid">
  <div class="row d-flex justify-content-center">
    <div class="col-12 col-sm-10 p-2">
      <h3 class="p-2 title-header">Lista de contactos</h3>

      <div class="p-2">
        <button class="btn btn-primary" (click)="toAddContactPage()">
          + Nuevo contacto
        </button>
      </div>
      <div class="d-flex rounded-4 flex-column shadow p-2 p-lg-3 bg-white">
        <div class="bg-white p-2">Contactos: ({{ total - counter }})</div>

        <div
          class="d-flex contact-item rounded-end-4 rounded-start-4 p-1 p-sm-2"
          *ngFor="let item of contacts; let i = index"
        >
          <div
            class="col-10 col-sm-11 d-flex"
            (click)="toCardContactPage(item)"
          >
            <div class="d-flex align-items-center col-12 col-sm-6 col-md-5">
              <app-contact-image
                [img]="{ url: item.contactPhoto, width: 50 }"
              ></app-contact-image>
              <span class="p-2 text-break"
                >{{ item.contactFirstName }} {{ item.contactLastName }}</span
              >
            </div>

            <div class="d-none d-sm-flex align-items-center col-sm-6 col-md-4">
              <span
                class="p-2 text-break"
                *ngIf="item.contactEmails.length > 0; else noEmail"
                >{{ item.contactEmails[0].emailValue }}
              </span>
              <ng-template #noEmail>
                <span class="p-2 text-break noItemFind"
                  >Sin Email
                </span></ng-template
              >
            </div>

            <div class="d-none d-md-flex align-items-center col-md-3">
              <span
                class="p-2 text-break"
                *ngIf="item.contactPhones.length > 0; else noPhone"
                >{{ item.contactPhones[0].phoneValue }}
              </span>

              <ng-template #noPhone>
                <span class="p-2 text-break noItemFind"
                  >Sin teléfono
                </span></ng-template
              >
            </div>
          </div>

          <div
            class="col-2 col-sm-1 d-flex justify-content-center align-items-center"
          >
            <button
              class="btn btn-delete-contact"
              (click)="deleteContact(item.contactId)"
            >
              ✕
            </button>
          </div>
        </div>
      </div>
      <app-paginator
        [totalContacts]="total"
        [currentPage]="currentPage"
        (pageChange)="onPageChange($event)"
      ></app-paginator>
    </div>
  </div>
</div>
