<nav
  class="navbar fixed-top position-sticky p-0 d-flex justify-content-start shadow"
>
  <div class="d-flex justify-content-between flex-grow-1">
    <div class="nav-styles w-100 p-2">
      <button
        class="navbar-toggler icon-button"
        type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasNavbar"
        aria-controls="offcanvasNavbar"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand px-2">Contacts App</a>
    </div>

    <div
      class="offcanvas offcanvas-start"
      tabindex="-1"
      id="offcanvasNavbar"
      aria-labelledby="offcanvasNavbarLabel"
    >
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menú</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav pe-3" *ngIf="user">
          <li class="nav-item p-2">
            <app-contact-image
              [img]="{ url: user.userPhoto, width: 120 }"
            ></app-contact-image>
          </li>
          <li class="nav-item p-2">
            <span> Nombre: {{ user.userFullName }} </span>
          </li>
          <li class="nav-item p-2">
            <span> Correo: {{ user.userEmail }} </span>
          </li>
          <li class="nav-item p-2">
            <button>Contactos</button>
          </li>
          <li class="nav-item p-2">
            <span> Acerca de</span>
          </li>
          <li *ngFor="let item of mainMenu.defaulOptions" class="nav-item p-2">
            <button (click)="goTo($event)">
              {{ item.name }}
            </button>
          </li>

          <li class="nav-item p-2">
            <app-logout></app-logout>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<!-- aqui vamos a obtener el usuario del local storage -->
